@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Roboto&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: roboto, sans-serif;
    border: 1px yellow dotted;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #333;
    color: #EEE;
    justify-content: space-between;
    text-align: center;
}

header {
    border: 1px red dotted;
}

header h1 {
    font-family: comfortaa;
}

main {
    height: 60vh;
    border: 1px red dotted;
}

footer {
    padding: .6rem;
    border: 1px red dotted;
}