@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Roboto&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: roboto, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #333;
    color: #FF9F00;
    justify-content: space-between;
    text-align: center;
}

header {
    margin: 1.2rem;
}

header h1 {
    font-family: comfortaa;
}

main {
    font-family: comfortaa, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.4rem;
    justify-content: space-around;
    display: flex;

}

#calculatorBody {
    display: grid;
    grid-template-columns: auto auto auto auto;
    flex-wrap: wrap;
    background-color: #111;
    border-radius: 0.6rem; 
}

.btn {
    color: #222;
    font-size: 1.6rem;
    min-width: 3.6rem;
    background-color: #FF9F00;
    margin: .4rem;
    border-radius: .5rem;
    padding: .8rem;
}

.op {
    background-color: #FF4600;
}

.func{
    background-color: #00B7FF;
}

.screen {
    justify-content: center;
    text-align: end;
    font-size: 3.6rem;
    border-radius: 0.2rem;
    height: 4.6rem;
    grid-column: 1 / span 4;
    margin: .6rem;
    background-color: #444;
}

#plus {
    grid-column: 4 / 5;
    grid-row: 6 / span 8;
}

.equals {
    background-color: #FF0069;
}


footer {
    padding: .6rem;
}