@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Iceberg&family=Roboto+Mono&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: roboto, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #333;
    color: #FF9F00;
    justify-content: space-between;
    text-align: center;
}


header {
    margin: 1.2rem;
}


header h1 {
    font-family: comfortaa;
}


main {
    font-family: comfortaa, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.4rem;
    justify-content: space-around;
    display: flex;

}


#calculatorBody {
    box-shadow: #ff9d004c 0px 20px 30px -10px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    flex-wrap: wrap;
    background-color: #FF9F00;
    border-radius: 0.6rem; 
    padding: .6rem;
    border-radius: 16px;
background: #FF9F00;
box-shadow:  8px 8px 16px #181818,
             -8px -8px 16px #4e4e4e;
}


.btn {
    font-family: 'Roboto Mono', monospace;
    border-radius: 12px;
    background: #FF9F00;
    box-shadow:  4px 4px 7px #754900,
             -4px -4px 7px #fff500;
    color: #222;
    font-size: 1.6rem;
    min-width: 3.6rem;
    /* background-color: #FF9F00; */
    margin: .6rem;
    /* border-radius: .5rem; */
    padding: .8rem;
}

.btnPressed {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}


.op {

    border-radius: 12px;
    background: #FFBC4D;
    box-shadow:  4px 4px 7px #754900,
             -4px -4px 7px #fff500;
}


.func{
    background-color: #B36F00;
}


.screen {
    padding: .3rem .6rem;
    font-family: 'Iceberg', 'Roboto mono';
    text-align: end;
    font-size: 4.6rem;
    /* border-radius: 0.2rem; */
    height: 6rem;
    grid-column: 1 / span 4;
    margin: .6rem;
    border-radius: 10px;
    background: #444444;
    box-shadow: inset 4px 4px 7px #2b2b2b,
            inset -4px -4px 7px #5d5d5d;
}


#plus {
    grid-column: 4 / 5;
    grid-row: 5 / span 7;
}


.equals {
    background-color: #B36F00;
}


footer {
    padding: .6rem;
}

.active {
    border-radius: 12px;
background: #FF9F00;
box-shadow: inset 5px 5px 10px #bd7600,
            inset -5px -5px 10px #ffc800;
}